source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget Hopac
nuget Argu
nuget xunit
nuget xunit.runner.visualstudio
nuget Microsoft.NET.Test.Sdk
nuget Unquote
nuget Hedgehog
nuget FSharp.Data
nuget Foq

nuget System.Data.SQLite.Core
nuget Dapper
