source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget Hopac
nuget Argu
nuget xunit
nuget xunit.runner.visualstudio
nuget Microsoft.NET.Test.Sdk
nuget Unquote
nuget Hedgehog
nuget FSharp.Data
nuget Foq

nuget SQLProvider
nuget SQLitePCLRaw.bundle_green
nuget System.Data.SqlClient
nuget System.Runtime
nuget System.Runtime.Extensions
nuget System.Reflection
nuget System.Reflection.TypeExtensions
nuget System.Runtime.Serialization.Formatters
nuget Microsoft.Data.Sqlite.Core

